{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome </h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="" class="btn btn-primary disabled">Reset Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form action="" method="post" novalidate class="shadow p-5">
   {% csrf_token %}
   <div class="text-center my-1">
    <i class="fas fa-unlock-alt fa-5x"></i>
    </div>
     <div class="mb-3">
       {% for fm in form %}
               <div class="mt-4 bd-highlight">{{fm.label_tag}}{% if fm.field.required %}<span class="Isrequired" style="color: red;">*</span>{% endif %} {{fm}}<span class="Errr mt-0" style="color:red;">{{fm.errors|striptags}}</span>    
               </div>
     {% endfor %}
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
     {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}